h1{
    font-family:cursive;
    color:rgb(0, 0, 0);
    font-size:xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color:rgb(255, 255, 255);
    padding: 5px;
    padding-bottom: 5px;
}
body{
    background-color:rgb(252, 202, 202) ;
}
h3{
    font-family:cursive;
    color: rgb(67, 67, 67);
    font-size: xx-large;
    display: flex;
    justify-content: center;
     align-items: center;
}

    
h2{
font-family: Arial, Helvetica, sans-serif;
color: rgb(45, 44, 44);
font-size: x-large;
display: flex;
justify-content: center;
 align-items: center;
}
.videocontainer{
    justify-content: center;
    display: flex;
    align-items:center;
}
h4{
    font-family:cursive;
    color: rgb(67, 67, 67);
    font-size: xx-large;
    display: flex;
    justify-content: center;
     align-items: center;
}
.image-container{
    display: flex;
    Justify-content: center;
    align-items: center;
}